// ================================================================================================================
// Every class in this file SHOULD be prefixed with some sort of client name abbreviation.
// Make sure to update all instances of that name and save this file.
// If in sublime text, select "client-name" then you can update all to the chosen client name abbrevation.
// ================================================================================================================

// ===========
// TYPOGRAPHY
// ===========
#content_editor .octiv-has-text-white,
.pdf-page-content .octiv-has-text-white {
  color: #fff !important;
}

#content_editor .octiv-has-text-brand-two,
.pdf-page-content .octiv-has-text-brand-two {
  color: $brand-two !important;
}

#content_editor .octiv-has-text-center,
.pdf-page-content .octiv-has-text-center {
  text-align: center !important;
}

#content_editor .octiv-has-font-bump,
.pdf-page-content .octiv-has-font-bump,
#content_editor .octiv-has-font-bump *,
.pdf-page-content .octiv-has-font-bump * {
  font-size: 1.15em !important;
  line-height: 1.4 !important;
}


// ========
// SPACING
// ========
#content_editor .octiv-pad-y,
.pdf-page-content .octiv-pad-y {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  &-more {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
}

#content_editor .octiv-pad-t,
.pdf-page-content .octiv-pad-t {
  padding-top: 30px !important;
  &-more {
    padding-top: 60px !important;
  }
}

#content_editor .octiv-pad-b,
.pdf-page-content .octiv-pad-b {
  padding-bottom: 30px !important;
  &-more {
    padding-bottom: 60px !important;
  }
}

#content_editor .octiv-pad-x,
.pdf-page-content .octiv-pad-x {
  padding-left: 30px !important;
  padding-right: 30px !important;
  &-more {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

#content_editor .octiv-pad-l,
.pdf-page-content .octiv-pad-l {
  padding-left: 30px !important;
  &-more {
    padding-left: 60px !important;
  }
}

#content_editor .octiv-pad-r,
.pdf-page-content .octiv-pad-r {
  padding-right: 30px !important;
  &-more {
    padding-right: 60px !important;
  }
}

#content_editor .octiv-mar-y,
.pdf-page-content .octiv-mar-y {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  &-more {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
}

#content_editor .octiv-mar-t,
.pdf-page-content .octiv-mar-t {
  margin-top: 30px !important;
  &-more {
    margin-top: 60px !important;
  }
  &-neg {
    margin-top: -1em !important;
  }
  &-none {
    margin-top: 0 !important;
  }
}

#content_editor .octiv-mar-b,
.pdf-page-content .octiv-mar-b {
  margin-bottom: 30px !important;
  &-more {
    margin-bottom: 60px !important;
  }
  &-neg {
    margin-bottom: -30px !important;
  }
  &-none {
    margin-bottom: 0px !important;
  }
}

#content_editor .octiv-mar-x,
.pdf-page-content .octiv-mar-x {
  margin-left: 30px !important;
  margin-right: 30px !important;
  &-more {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
}

#content_editor .octiv-mar-l,
.pdf-page-content .octiv-mar-l {
  margin-left: 30px !important;
  &-more {
    margin-left: 60px !important;
  }
}

#content_editor .octiv-mar-r,
.pdf-page-content .octiv-mar-r {
  margin-right: 30px !important;
  &-more {
    margin-right: 60px !important;
  }
}

#content_editor .octiv-b-a,
.pdf-page-content .octiv-b-a {
  border: 1px solid #fff;
}


// ===========================
// RESPONSIVE VIDEO CONTAINERS
// ===========================
#content_editor .octiv-video-outer,
.pdf-page-content .octiv-video-outer {
  padding: 56.25% 0 0 0;
  position: relative;
}

#content_editor .octiv-video-inner,
.pdf-page-content .octiv-video-inner {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  .mce-preview-object.mce-object-iframe {
    display: inline;
  }
}