@mixin octiv-button($color) {
  background-color: $color;  
  color: #fff !important;
  padding: 0.75em 1em;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
  &:hover {
    background-color: darken($color, 10%);
  }
}

.octiv-button--brand {
  @include octiv-button($brand);
}

.octiv-btn-arrow {
  position: relative;
  text-decoration: none !important;

  #content_editor &,
  .pdf-page-content {
    color: $base-text-color;
    font-weight: bold;
  }

  &:hover {
    #content_editor &,
    .pdf-page-content {
      color: $base-text-color;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $brand-two;
    height: 1em;
    max-height: 3px;
  }

  &:after {
    content: '\003E';
    display: inline-block;
    margin-left: 0.5em;
  }

}