.octiv-btn-arrow {
  position: relative;

  #content_editor &,
  .pdf-page-content {
    color: $base-text-color;
    font-weight: bold;
  }

  &:hover {
    #content_editor &,
    .pdf-page-content {
      color: $base-text-color;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $brand-two;
    height: 1em;
    max-height: 3px;
  }

  &:after {
    content: '\003E';
    display: inline-block;
    margin-left: 0.5em;
  }

}