@mixin octiv-callout($color) {
  background-color: $color;
  padding: 30px;

  #content_editor & *,
  .pdf-page-content & * {
    color: #fff;  
  }

  *:last-child {
    #content_editor &,
    .pdf-page-content & {
      margin-bottom: 0 !important;
    }
  }

}

.octiv-brand-two-callout {
  @include octiv-callout($brand-two);
}

.octiv-brand-three-callout {
  @include octiv-callout($brand-three);
}

.octiv-brand-four-callout {
  @include octiv-callout($brand-four);
}

.octiv-brand-five-callout {
  @include octiv-callout($brand-five);
}