@mixin octiv-color-box-headline($bgc, $tc: #fff) {
  background-color: $bgc;
  border-radius: 4px;
  display: inline-block;
  #content_editor &,
  .pdf-page-content & {
    color: $tc !important;
    font-weight: bold !important;
    line-height: 1 !important;
    padding: 0.25em 0.5em;
  }  
}

.octiv-color-boxes {
  margin-bottom: 1em;
  text-align: center;

  #content_editor & *,
  .pdf-page-content & * {
    color: #fff;
  }

}

.octiv-color-box-headline--white {
  @include octiv-color-box-headline(#fff);
}

.octiv-color-box-headline--brand-two {
  @include octiv-color-box-headline($brand-two);
}

.octiv-color-box-headline--brand-three {
  @include octiv-color-box-headline($brand-three);
}

.octiv-color-box-headline--brand-four {
  @include octiv-color-box-headline($brand-four);
}

.octiv-color-box-headline--brand-five {
  @include octiv-color-box-headline($brand-five);
}