@mixin octiv-color-card($color) {
  border: 1px solid $color;
  border-radius: 4px;
  background-color: #fff;
  @include print {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 2.0625in;
    margin-right: 0.3125in;
    margin-bottom: 0.125in;
    min-height: 1.5in;
  }

  h6 {
    color: #fff !important;
    padding: 0.25em 0.5em;
    background-color: $color;
    #content_editor &,
    .pdf-page-content & {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    #content_editor &,
    .pdf-page-content & {
      padding: 0.5em;
      padding-left: 1em !important;
      margin-bottom: 0 !important;
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  ul {
    list-style-type: disc;
    #content_editor &,
    .pdf-page-content & {
      padding-left: 1.5em !important;
      @include print {
        padding-left: 1.5em !important;
      }
    }
  } 

  ol {
    #content_editor &,
    .pdf-page-content & {
      padding: 1em;
    }
  }
  
  li {
    margin-bottom: 0.3em;
    color: lighten($base-text-color, 15%);
    
    #content_editor &,
    .pdf-page-content & {
      font-size: 0.8em !important;
      line-height: 1.3 !important;
    }

    &:before {
      height: 20px !important;
      width: 20px !important;
      line-height: 20px !important;
      font-size: 0.8em !important;
      @include print {
        top: 0;
      }
    }

  }

  table thead,
  table thead th,
  table tfoot,
  table tfoot td,
  table tfoot tr:nth-child(2n) td {
    #content_editor &,
    .pdf-page-content & {
      background-color: $color;
      color: #fff !important;
      font-weight: bold;
    }
  }

  table tfoot tr td {
    #content_editor &,
    .pdf-page-content & {
      border-bottom: 1px solid transparentize(#fff, 0.5) !important;
    }
  }

}

.octiv-color-cards {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  
  #content_editor &,
  .pdf-page-content & {
    padding-left: 0 !important;
  }

  h6 span {
    float: right;
  }

}

.octiv-color-card-brand {
  @include octiv-color-card($brand);
  .octiv-datasheet-key-capabilities & {
    @include print {
      max-width: 100% !important;
    } 
  }
}

.octiv-color-card-brand-two {
  @include octiv-color-card($brand-two);
}

.octiv-color-card-brand-three {
  @include octiv-color-card($brand-three);
}

.octiv-color-card-brand-four {
  @include octiv-color-card($brand-four);
}

.octiv-color-card-brand-five {
  @include octiv-color-card($brand-five);
}