.octiv-content-toggle-list {
  position: relative;
  list-style-type: none;
  
  #content_editor &,
  .pdf-page-content & {
    padding-left: 0 !important;
  }

  .octiv-content-toggle-item {
    margin-bottom: 0.5em;
    @include mobile {
      margin-bottom: 1em;
    }

    label {
      @include mobile {
        display: none;
      }
    }

  }

}

.slide-content {
  position: absolute;
  left: calc(100px + 1.5em);
  top: 0;
  animation-name: slideOut;
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-fill-mode: both;
  @include mobile {
    animation-name: none;
    position: static;
  }
}

.slide-toggle {
  display: none;
}

.slide-toggle:checked + .slide-content {
  display: block;
  animation-name: slideIn;
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-fill-mode: both;
  @include mobile {
    animation-name: none;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-1.5em);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0px);
    visibility: visible;
  }

  to {
    opacity: 0;
    transform: translateX(1.5em);
    visibility: hidden;
  }
}