.octiv-four-child-items {
  @include print {
    .octiv-content-toggle-item {
      display: inline-block;
      max-width: 1.78125in;
      margin-right: 0.125in;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

.octiv-two-third-only {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: -1em;
  @include mobile {
    max-width: 100%;
    right: auto;
  }
}