.octiv-product-name {
  font-weight: bold;
  font-size: 1.2em;
  @include print {
    font-size: 0.8em;
  }

  .integer {
    display: inline-block;
    margin-right: 0.25em;
  }

}

.octiv-product-details {
  #content_editor &,
  .pdf-page-content & {
    font-style: italic;
    @include print {
      font-size: 0.8em;
    }
  }
}

.octiv-product-description {
  #content_editor &,
  .pdf-page-content & {
    font-size: 1em;
    line-height: 1.4;
    color: lighten($base-text-color, 20%);
    margin-bottom: 0 !important;
    @include print {
      font-size: 0.8;
    }
  }
}

.custom_pricing {

  td {
    #content_editor &,
    .pdf-page-content & {
      padding: 0.85em 0.5em;
    }
  }

  // tbody td:nth-child(2),
  // tfoot td {
  //   #content_editor &,
  //   .pdf-page-content & {
      // font-size: 1.1em !important;
      // @include print {
      //   font-size: 0.8em !important;
      // }
  //   }
  // }

  tfoot {
    td:first-child {
      width: 100%;
      // text-align: right;
    }
  }

}

.octiv-competitor-table {
  margin-bottom: 0 !important;
  border-radius: 0 0 4px 4px;
  page-break-inside: auto;

  em {
    display: block;
    font-size: 0.75em;
    line-height: 1.2 !important;
    margin-top: 0.25em;
  }
  
  thead th {
    border-left: 1px solid #fff;
    &:first-child {
      text-align: left;
      border-left: 1px solid $brand;
    }
    &:last-child {
      border-right: 1px solid $brand;
    }
  }

  // tbody tr:nth-child(2n) td {
  //   background-color: $brand-lgray !important;
  // }

  tbody tr:last-child td {
    #content_editor &,
    .pdf-page-content & {
      border-bottom: 1px solid $brand;
      &:first-child {
        border-radius: 0 0 0 4px;
      }
      &:last-child {
        border-radius: 0 0 4px 0;
      }
    }
  }
  
  tbody td {
    text-align: center;
    width: 18%;
    #content_editor &,
    .pdf-page-content & {
      font-size: 0.85em !important;
      strong {
        display: block;
      }
    }
    
    &:first-child {
      text-align: left;
      width: 64%;
      #content_editor &,
      .pdf-page-content & {
        border-left: 1px solid $brand;
      }
    }
    
    &:last-child {
      #content_editor &,
      .pdf-page-content & {
        border-right: 1px solid $brand;
      }
    }

  }

}

.octiv-feature-table {
  border-radius: 0 0 4px 4px;
  
  #content_editor &,
  .pdf-page-content & {
    margin-bottom: 0;
  }

  td:first-child {
    font-weight: bold;
    #content_editor &,
    .pdf-page-content & {
      border-left: 0;
    }
  }

  td:last-child {
    border-right: 0;
  }

  tr:nth-child(2n) td {
    #content_editor &,
    .pdf-page-content & {
      background-color: #fff !important;
    }
  }

  tr:last-child td {
    #content_editor &,
    .pdf-page-content & {
      border-bottom: 0;
    }
    
    &:first-child {
      border-radius: 0 0 0 4px;
    }

    &:last-child {
      border-radius: 0 0 4px 0;
    }

  }

}

@mixin octiv-order-form-table($bgc) {
  
  #content_editor &,
  .pdf-page-content & {
    font-size: 0.85em !important;
    margin-bottom: 1.5em !important;
    border-collapse: inherit !important;
    border-spacing: 0;
    strong {
      display: block;
    }
  }

  thead,
  thead th {
    background-color: $bgc !important;
    #content_editor &,
    .pdf-page-content & {
      @include print {
        padding: 0.25em 0.5em;
      }
    }
  }

  thead th:first-child {
    text-align: left;
    border-top-left-radius: 5px;
    border-right: 1pt solid $bgc;
  }

  thead th:last-child {
    border-top-right-radius: 5px;
    border-left: 1pt solid $bgc;
    white-space: pre;
  }

  tbody tr:nth-child(2n) td {
    background-color: #fff !important;
  }

  tbody tr:last-child td {
    #content_editor &,
    .pdf-page-content & {
      border-bottom: 1px solid $bgc !important;
    }
  }

  tbody td {
    &:first-child {
      #content_editor &,
      .pdf-page-content & {
        border-left: 1px solid $bgc !important;
      }
    }
    &:last-child {
      #content_editor &,
      .pdf-page-content & {
        border-right: 1px solid $bgc !important;
      }
    }
  }

  tfoot,
  tfoot td {
    background-color: $bgc !important;
    color: #fff;
    font-weight: bold;
  }

  tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }

  tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }

}

.octiv-brand-table {
  @include octiv-order-form-table($brand); 
}

.octiv-brand-two-table {
  @include octiv-order-form-table($brand-two); 
}

.octiv-brand-three-table {
  @include octiv-order-form-table($brand-three); 
}