.custom_pricing {

  td {
    #content_editor &,
    .pdf-page-content & {
      padding: 0.85em 0.5em;
    }
  }

  .octiv-product-name {
    font-weight: bold;
    font-size: 1.2em;
    @include print {
      font-size: 0.8em;
    }

    .integer {
      display: inline-block;
      margin-right: 0.25em;
    }

  }

  .octiv-product-details {
    font-style: italic;
    @include print {
      font-size: 0.8em;
    }
  }

  .octiv-product-description {
    #content_editor &,
    .pdf-page-content & {
      font-size: 1em;
      line-height: 1.4;
      color: lighten($base-text-color, 20%);
      margin-bottom: 0 !important;
      @include print {
        font-size: 0.8;
      }
    }
  }

  tbody td:nth-child(2),
  tfoot td {
    #content_editor &,
    .pdf-page-content & {
      font-size: 1.1em !important;
      @include print {
        font-size: 0.8em !important;
      }
    }
  }

  tfoot {
    td:first-child {
      width: 100%;
      text-align: right;
    }
  }

}

.octiv-competitor-table {
  margin-bottom: 0 !important;
  border-radius: 0 0 4px 4px;

  em {
    display: block;
    font-size: 0.75em;
    line-height: 1.2 !important;
    margin-top: 0.25em;
  }
  
  thead th {
    border-left: 1px solid #fff;
    &:first-child {
      text-align: left;
      border-left: 0;
    }
  }

  tbody tr:nth-child(2n) td {
    background-color: $brand-lgray !important;
  }

  tbody tr:last-child td {
    #content_editor &,
    .pdf-page-content & {
      border-bottom: 0;
      &:first-child {
        border-radius: 0 0 0 4px;
      }
      &:last-child {
        border-radius: 0 0 4px 0;
      }
    }
  }
  
  tbody td {
    text-align: center;
    width: 18%;
    #content_editor &,
    .pdf-page-content & {
      font-size: 0.85em !important;
      strong {
        display: block;
      }
    }
    
    &:first-child {
      text-align: left;
      width: 64%;
      #content_editor &,
      .pdf-page-content & {
        border-left: 0;
      }
    }
    
    &:last-child {
      #content_editor &,
      .pdf-page-content & {
        border-right: 0;
      }
    }

  }

}

.octiv-feature-table {
  border-radius: 0 0 4px 4px;
  
  #content_editor &,
  .pdf-page-content & {
    margin-bottom: 0;
  }

  td:first-child {
    font-weight: bold;
    #content_editor &,
    .pdf-page-content & {
      border-left: 0;
    }
  }

  td:last-child {
    border-right: 0;
  }

  tr:nth-child(2n) td {
    #content_editor &,
    .pdf-page-content & {
      background-color: $brand-lgray;
    }
  }

  tr:last-child td {
    #content_editor &,
    .pdf-page-content & {
      border-bottom: 0;
    }
    
    &:first-child {
      border-radius: 0 0 0 4px;
    }

    &:last-child {
      border-radius: 0 0 4px 0;
    }

  }

}