.octiv-case-study {

  .octiv-hero {
    margin-bottom: 10px;
    @include print {
      margin-bottom: -0.25in;
    }
  }

  .octiv-icon-item {
    text-align: left;
    text-align: left;
    display: table;
    width: 100%;
    margin-bottom: 2em;
    @include mobile {
      display: block;
    }
    
    &:last-child {
      margin-bottom: 0;
    }

  }

  .octiv-icon-img-container {
    width: 85px !important;
    height: 85px !important;

    .octiv-icon-item & {
      display: none;
    }
    
    img {
      @include mobile {
        max-width: 45px !important;
        max-height: 45px !important;
      }
    }

  }

  .octiv-icon-content-container {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
    @include mobile {
      padding-left: 0;
    }

    #content_editor & h4,
    .pdf-page-content & h4 {
      font-size: $heading-four-font-size !important;
      line-height: 1.3 !important;
    }

    #content_editor & p,
    .pdf-page-content & p {
      font-size: 1em !important;
      line-height: 1.3 !important;
      color: lighten($base-text-color, 35%);
      margin-bottom: 0 !important;
      @include print {
        font-size: 0.9em !important;
      }
    }

  }

  .octiv-cs-quote {
    position: relative;
    margin: 2em 0 !important;
    padding: 2em 4em;
    background-image: linear-gradient(170deg, transparentize($brand-four, 0.6) 45%, transparentize($brand, 0.6)), url(https://mytinder.s3.amazonaws.com/assets/medias/589372_original.png?1516293545), linear-gradient(170deg, $brand-four 45%, $brand);
    text-align: center;
    @include mobile {
      padding: 2em;
    }
    @include print {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(https://mytinder.s3.amazonaws.com/assets/medias/589372_original.png?1516293545);
      }
    }
  }

  .octiv-cs-statement {
    color: #fff !important;
    text-shadow: 2px 2px 3px rgba(black, 0.8);
    font-size: 1.25em !important;
    line-height: 1.4 !important;
    @include mobile {
      font-size: 1em !important;
    }
    @include print {
      font-size: 1.1em !important;
    }
  }

}