.octiv-datasheet {

  .octiv-block-quote-highlight {
    background-image: linear-gradient(#fff, $brand-lgray);
    border: 1px solid $brand-gray;
    padding: 1em;
    border-radius: 4px;
    float: right;
    max-width: 45%;
    font-weight: bold;
    #content_editor &,
    .pdf-page-content & {
      margin: 0 0 2em 2em;
    }
    @include mobile {
      float: none;
      max-width: 100%;
      #content_editor &,
      .pdf-page-content & {
        margin: 0 0 1em 0;
      }
    }
  }

  .octiv-color-cards li {
    @include print {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .octiv-advantages {
    margin-top: 45px; 
  }

  .octiv-icon-item {
    text-align: left;
    display: table;
    width: 100%;
    margin-bottom: 2em;
    @include mobile {
      display: block;
    }
    
    &:last-child {
      margin-bottom: 0;
    }

  }

  .octiv-icon-img-container {
    width: 85px !important;
    height: 85px !important;

    .octiv-icon-item & {
      display: none;
    }
    
    img {
      @include mobile {
        max-width: 45px !important;
        max-height: 45px !important;
      }
    }

  }

  .octiv-icon-content-container {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
    width: 100%;
    @include mobile {
      padding-left: 0;
    }

    #content_editor & p,
    .pdf-page-content & p {
      font-size: 1em !important;
      line-height: 1.3 !important;
      color: lighten($base-text-color, 35%);
      margin-bottom: 0 !important;
      @include print {
        font-size: 0.9em !important;
      }
    }

  }

  .octiv-datasheet-features {
    margin-top: 45px;

    li {
      font-size: 0.8em !important;
      line-height: 1.3 !important;
      margin-bottom: 0.25em;
      #content_editor &,
      .pdf-page-content & {
        padding-left: 0 !important;
      }
    }

  }

  .octiv-datasheet-client-logos {
    margin-top: 45px;
  }

  .octiv-datasheet-logo-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 30px;
    justify-items: center;
    align-items: center;

    #content_editor &,
    .pdf-page-content & {
      padding-left: 0 !important;
    }

  }

  .octiv-datasheet-logo-item {
    @include print {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      max-width: 1.75in;
    }
    
    img {
      max-width: 125px !important;
      max-height: 75px;
      @include print {
        display: block;
        margin: 0 auto !important;
      }
    }

  }

  .octiv-competitor-capabilities {
    margin-top: 60px;
    page-break-inside: avoid;
    
    .octiv-competitor-table-key {
      list-style-type: none;
      display: table;
      margin: 0 auto !important;
      @include print {
        margin-bottom: 1em !important;
      }
      
      #content_editor &,
      .pdf-page-content & {
        padding-left: 0 !important;
      }

      li {
        display: table-cell;
        vertical-align: middle;
        padding-right: 1.5em;
        @include mobile {
          display: list-item;
        }
        
        &:last-child {
          padding-right: 0;
        }

      }

      
      [class$="-dot"] {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.25em;
      }

    }

  }

  .octiv-product-features-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 30px;
    @include print {
      text-align: center;
    }
    
    .octiv-icon-item {
      // display: list-item;
      text-align: center;
      margin-bottom: 0;
      @include print {
        display: inline-block;
        width: 1.75in;
        margin-bottom: 0.5em;
      }
    }

    .octiv-icon-content-container {
      padding-left: 0;
      display: initial;
      vertical-align: initial;

      p {
        #content_editor &,
        .pdf-page-content & {
          margin-top: 0.5em;
          @include print {
            margin-top: 0;
          }
        }
      }

    }

  }

  .octiv-integration-visual {
    position: relative;
    min-height: 450px;
    @include print {
      min-height: 4in;
      margin-bottom: 0.125in;
    }

    .octiv-integration-visual-item {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $brand-lgray;
      border: 5px solid #fff;
      box-shadow: 1px 3px 8px rgba(black, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.37,-0.15, 0.32, 1.51);
      @include print {
        text-align: center;
        line-height: 100px !important;
      }
      
      img {
        max-width: 80% !important;
        max-height: 80% !important;
        @include print {
          margin: -0.125in auto 0;
          display: inline-block;
          vertical-align: middle;
        }
      }

      &:nth-child(1) {
        z-index: 10;
        background-color: $brand;
        animation-name: octivPulse;
        animation-duration: 1.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        img {
          max-width: 60% !important;
          max-height: 60% !important;
        }
      }

      &:nth-child(2) {
        animation-name: integrationOne;
        animation-delay: 0.25s;
        @include print {
          transform: translate(-200%, -125%);
        }
      }

      &:nth-child(3) {
        animation-name: integrationTwo;
        animation-delay: 0.5s; 
        @include print {
          transform: translate(-50%, -200%);
        }
      }

      &:nth-child(4) {
        animation-name: integrationThree;
        animation-delay: 0.75s;
        @include print {
          transform: translate(100%, -125%);
        }
      }

      &:nth-child(5) {
        animation-name: integrationFour;
        animation-delay: 1s;
        @include print {
          transform: translate(100%, 25%);
        }
      }

      &:nth-child(6) {
        animation-name: integrationFive;
        animation-delay: 1.25s;
        @include print {
          transform: translate(-50%, 100%);
        }
      }

      &:nth-child(7) {
        animation-name: integrationSix;
        animation-delay: 1.5s;
        @include print {
          transform: translate(-200%, 25%);
        }
      }

    }

  }

}