.octiv-datasheet {

  .octiv-block-quote-highlight {
    background-image: linear-gradient(#fff, $brand-lgray);
    border: 1px solid $brand-gray;
    padding: 1em;
    border-radius: 4px;
    float: right;
    max-width: 45%;
    font-weight: bold;
    margin-left: 2em;
    @include mobile {
      float: none;
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 1em;
    }
  }

  .octiv-color-cards li {
    @include print {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .octiv-advantages {
    margin-top: 45px;
  }

  .octiv-icon-item {
    text-align: left;
    text-align: left;
    display: table;
    width: 100%;
    margin-bottom: 2em;
    @include mobile {
      display: block;
    }
    
    &:last-child {
      margin-bottom: 0;
    }

  }

  .octiv-icon-img-container {
    width: 85px !important;
    height: 85px !important;

    .octiv-icon-item & {
      display: none;
    }
    
    img {
      @include mobile {
        max-width: 45px !important;
        max-height: 45px !important;
      }
    }

  }

  .octiv-icon-content-container {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
    width: 100%;
    @include mobile {
      padding-left: 0;
    }

    #content_editor & p,
    .pdf-page-content & p {
      font-size: 1em !important;
      line-height: 1.3 !important;
      color: lighten($base-text-color, 35%);
      margin-bottom: 0 !important;
      @include print {
        font-size: 0.9em !important;
      }
    }

  }

  .octiv-datasheet-features {
    margin-top: 45px;

    li {
      font-size: 0.8em !important;
      line-height: 1.3 !important;
      margin-bottom: 0.25em;
      #content_editor &,
      .pdf-page-content & {
        padding-left: 0 !important;
      }
    }

  }

  .octiv-datasheet-client-logos {
    margin-top: 45px;
  }

  .octiv-datasheet-logo-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 30px;
    justify-items: center;
    align-items: center;

    #content_editor &,
    .pdf-page-content & {
      padding-left: 0 !important;
    }

  }

  .octiv-datasheet-logo-item {
    @include print {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      max-width: 1.75in;
    }
    
    img {
      max-width: 125px !important;
      max-height: 75px;
      @include print {
        display: block;
        margin: 0 auto !important;
      }
    }

  }

  .octiv-competitor-capabilities {
    margin-top: 60px;
    
    .octiv-competitor-table-key {
      list-style-type: none;
      display: table;
      margin: 0 auto;
      
      #content_editor &,
      .pdf-page-content & {
        padding-left: 0 !important;
      }

      li {
        display: table-cell;
        vertical-align: middle;
        padding-right: 1.5em;
        @include mobile {
          display: list-item;
        }
        
        &:last-child {
          padding-right: 0;
        }

      }

      
      [class$="-dot"] {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.25em;
      }

    }

  }

  .octiv-product-features-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 30px;
    
    .octiv-icon-item {
      display: list-item;
      text-align: center;
      margin-bottom: 0;
    }

    .octiv-icon-content-container {
      padding-left: 0;
      display: initial;
      vertical-align: initial;

      p {
        #content_editor &,
        .pdf-page-content & {
          margin-top: 0.5em;
        }
      }

    }

  }

}