.octiv-integration {

  .octiv-hero {
    display: table;
    background-image: url(https://mytinder.s3.amazonaws.com/assets/medias/589372_original.png?1516293545);
    background-size: auto;
    min-height: 200px;
    #content_editor &,
    .pdf-page-content & {
      padding: 45px 100px 65px !important;
      @include print {
        padding: 0.5in 0.75in !important;
      }
    }
    @include print {
      margin-bottom: -0.25in;
    }

    &:before,
    &:after {
      display: none;
    }
    
    .octiv-integration-logo-container,
    .octiv-integration-plus-sign-wrap {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      position: relative;
      @include print {
        padding-top: 0.25in;
        padding-bottom: 0.25in;
      }
    }

    .octiv-integration-logo-container {
      padding: 0 2em;

      &:first-child {
        .octiv-integration-logo-wrap {
          right: 1.5em;
          padding: 1.5em 0;
          @include print {
            right: 0in;
          }
        } 
      }

    }

    .octiv-integration-plus-sign-wrap {
      width: auto;
    }

    .octiv-integration-logo-wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 1em 0em;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 1px 2px 10px rgba(black, 0.3);
      width: 100%;
      max-width: 175px;
      // min-height: 100px;

      img {
        max-width: 85% !important;
        max-height: 50px !important;
      }

    }
    
    .octiv-integration-plus-sign {
      margin: 0 auto;
      text-align: center;
      line-height: 45px;
      font-size: 2em;
      font-weight: bold;
      background-color: #fff;
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

  }
  
  .octiv-notch {
    padding: 2em 3em;
    @include mobile {
      padding: 1em;
    }
  }

  .octiv-why-integration,
  .octiv-integration-capabilities {
    margin-top: 2.5em;
    @include print {
      margin-top: 1.5em;
    }
  }

  .octiv-icon-item,
  .octiv-content-toggle-item {
    @include print {
      float: left;
    }
  }

  .octiv-content-toggle-item {

    img {
      @include print {
        border: 1px solid $brand-gray;
      }
    }

  }

  .octiv-card-image {
    min-height: 150px;
  }

}

.octiv-integration--zuora {
  page: octiv-integration--zuora;
}

@page octiv-integration--zuora {
  margin-bottom: -0.5in;
  min-height: 11in;
}

.octiv-integration--salesforce-cpq {
  page: octiv-integration--salesforce-cpq;
}

@page octiv-integration--salesforce-cpq {
  margin-bottom: -0.5in;
}

.octiv-integration--oracle-cpq {
  page: octiv-integration--oracle-cpq;

  .octiv-why-integration,
  .octiv-integration-capabilities {
    @include print {
      margin-top: 0 !important;
    }
  }
}

@page octiv-integration--oracle-cpq {
  margin-bottom: -0.5in;
}

.octiv-integration--formstack {
  .octiv-hero {
    @include print {
      margin-bottom: -0.5in;
    }
  }
}