@page octiv-order-form {
  min-height: 11in;
}

.octiv-order-form {
  page: octiv-order-form;

  .octiv-order-form-details-list {
    list-style-type: none;
    @include print {
      margin-top: -0.25in;
    }
    
    #content_editor &,
    .pdf-page-content & {
      padding-left: 0 !important; 
    }

    li {
      margin-bottom: 0.75em;
      @include print {
        margin-bottom: 0;
      }
    }
  }

  .octiv-employee-feature {
    display: table;
    margin-top: 1.25em;
    margin-bottom: 1.5em;
    width: 100%;
    .octiv-employee-feature-content,
    .octiv-employee-feature-headshot {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .octiv-employee-feature-content {
    position: static;
    top: auto;
    transform: translateY(0);
    padding-left: 15px;
    @include print {
      position: static;
      top: auto;
      transform: translateY(0);
    }
  }

  .octiv-employee-feature-headshot {
    float: none;
    position: relative;
    border: 3px solid #fff;
    box-shadow: 1px 3px 8px rgba(black, 0.2);
    border-radius: 50%;
    overflow: hidden;
    width: 75px;
    height: 75px;
    @include print {
      float: none;
      position: relative;
      width: 0.75in;
      height: 0.75in;
    }
    
    img {
      position: absolute;
      max-width: 185px !important;
      top: 0;
      right: -10px;
      @include print {
        position: absolute;
        max-width: 200px !important;
        top: -0.4in;
        right: -0.15in;
      }
    }

  }

  .octiv-employee-feature-name {
    text-transform: uppercase;
    #content_editor &,
    .pdf-page-content & {
      font-size: 1.3em !important;
    }
  }

  .octiv-employee-feature-title {
    #content_editor &,
    .pdf-page-content & {
      font-size: 1em !important;
      @include print {
        font-size: 0.8em !important;
      }
    }
  }

  table {
    #content_editor &,
    .pdf-page-content & {
      margin-bottom: 0;
    }
    
    #content_editor & th,
    #content_editor & td,
    .pdf-page-content & th,
    .pdf-page-content & td {
      border: 0 !important;
    }

    thead {
      th:nth-child(2n) {
        text-align: right;
      }
    }

    tr {

      &:last-child td {
        #content_editor &,
        .pdf-page-content & {
          border-bottom: 0 !important;
        }
      }

    }

    td {
      
      #content_editor &,
      .pdf-page-content & {
        border-bottom: 1px solid lighten($brand-gray, 10%) !important;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
      }

      &:nth-child(2) {
        text-align: right;
      }

    }

  }

  .octiv-color-cards {
    @include print {
      margin-top: -0.25in;
    }
    
    [class*="octiv-color-card"] {
      margin-bottom: 2em;
      @include print {
        max-width: 100% !important;
        min-height: 0 !important;
      }
      
      &:last-of-type {
        margin-bottom: 0;
      }

    }

  }

}