.octiv-terms-conditions {

  .octiv-hero {
    @include print {
      margin-bottom: -0.25in;
    }
  }
  
  .octiv-color-cards li {
    @include print {
      margin-right: 0.3125in;
      max-width: 3.575in !important;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

}

.octiv-terms-conditions--premium-support {
  page: octiv-terms-conditions--premium-support;
}

@page octiv-terms-conditions--premium-support {
  margin-bottom: 0;
  min-height: 11in;
}